<footer class="footer">
	<div class="container">
		<div class="column-icons">
			<div class="foot-icon"><img src="./img/foot-1.png" alt="foot"></div>
			<div class="foot-icon"><img src="./img/foot-2.png" alt="foot"></div>
			<div class="foot-icon"><img src="./img/foot-3.png" alt="foot"></div>
		</div>
		<div class="column">
			<div class="name">Информация <i class="fa fa-chevron-down active"></i><i class="fa fa-chevron-up "></i></div>
			<ul>
				<li><a href="#">О компании</a></li>
				<li><a href="#">Правила</a></li>
				<li><a href="#">Помощь</a></li>
				<li><a href="#">Соглашение</a></li>
				<li><a href="#">Конфиденциальность</a></li>
			</ul>
		</div>
		<div class="column">
			<div class="name">Аккаунт <i class="fa fa-chevron-down active"></i><i class="fa fa-chevron-up"></i></div>
			<ul>
				<li><a href="#">Войти</a></li>
				<li><a href="#">Регистрация</a></li>
				<li><a href="#">Забыл пароль</a></li>
				<li><a href="#">Тарифы</a></li>
			</ul>
		</div>
		<div class="column">
			<div class="name">Служба поддержки</div>
			<div class="btn btn-outline">
				Задать вопрос
			</div>
			<a href="mailto:help@mrcredit.ru">
				help@mrcredit.ru
			</a>
		</div>
		<div class="clearfix"></div>
		<div class="copy">
			&copy; 2017 Mr. Credit
		</div>
	</div>
</footer>