<header class="header active fluid">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="header__burger-cont">
					{{> small_parts/burger_with_anim}}
				</div>
				<a href="#" class="header__logo">
					Logo
				</a>
				<div class="header__user">
					<div class="user__name">Руслан</div>
					<div class="user__img">
						<img src="./img/user2.svg" alt="user" class="default">
					</div>
					<div class="user__arrow">
						<i class="fa fa-angle-down"></i>
						<i class="fa fa-angle-up disable"></i>
					</div>
				</div>
				<div class="header__user-menu">
					<ul>
						<li><a href="#">Кошелёк</a></li>
						<li><a href="#">История операций</a></li>
						<li><a href="#">Настройки</a></li>
						<li class="gray-line"></li>
						<li><a href="#">Выход</a></li>
					</ul>
				</div>
				<div class="header__btns">
					<div class="btn btn-fluid">Подать объявление</div>
				</div>
				<ul class="header__menu fluid">
					<li><a href="#">Баланс: <span class="accent">16 000 руб.</span></a></li>
					<li><a href="#">Мои объявления</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>