<div id="mob-menu">
	<div class="mob-cont">
		<div class="mob-close">
			<span></span>
			<span></span>
		</div>
		<div class="header__logo">
			Logo
		</div>
		<div class="header__user">
			<div class="user__img">
				<img src="./img/user2.svg" alt="user" class="default">
			</div>
			<div class="user__name">Руслан</div>
		</div>
		<div class="balance">
			Баланс: <div class="accent">16 000 руб.</div>
		</div>
		<div class="btns-cont">
			<div class="btn btn-fluid">Подать объявление</div>
		</div>
		<ul class="menu">
			<li><a href="#">Кошелёк</a></li>
			<li><a href="#">Мои объявления</a></li>
			<li><a href="#">История операций</a></li>
			<li><a href="#">Настройки</a></li>
		</ul>
		<div class="menu-footer">
			<a href="#">Выход</a>
		</div>
	</div>
</div>
<div id="menu-over"></div>