<section class="section-top">
	<div class="container">
		
		<div class="content">
			<h1 class="h1">Единая система 
			размещения рекламы 			
			для кредитных брокеров</h1>
			<div class="text">
				Федеральная доска объявлений MrCredits.ru 
				- это хороший помощник в поиске 
				контактов для получения кредита или займа. 
				Если вам понадобились деньги, 
				то у нас вы сможете найти человека или 
				компанию, которые помогут вам с этим.
			</div>
			<div class="btn-cont">
				<div class="btn btn-red">
					Попробовать
				</div>
			</div>
		</div>
		<div class="img-cont">
			<img src="./img/bg-1.png" alt="img">
		</div>
	</div>
</section>