<div class="section-features">
	<div class="container">
		<h2 class="h2">Наши преимущества</h2>
	</div>
	<div class="container features">
		<div class="feature">
			<div class="feature__img-cont">
				<img src="./img/icon-1.png" alt="icon">
			</div>	
			<div class="feature__name">
				Удобно
			</div>
			<div class="feature__text">
				Все площадки в одном
				месте. Размещение 
				за 2 минуты 
			</div>
		</div>
		<div class="feature">
			<div class="feature__img-cont">
				<img src="./img/icon-2.png" alt="icon">
			</div>	
			<div class="feature__name">
				Выгодно
			</div>
			<div class="feature__text">
				Вы получаете больше
				клиентов и зарабатываете больше денег
			</div>
		</div>
		<div class="feature">
			<div class="feature__img-cont">
				<img src="./img/icon-3.png" alt="icon">
			</div>	
			<div class="feature__name">
				Эффективно
			</div>
			<div class="feature__text">
				Вы получаете больше
				клиентов и зарабатываете больше денег
			</div>
		</div>
		<div class="feature">
			<div class="feature__img-cont">
				<img src="./img/icon-4.png" alt="icon">
			</div>	
			<div class="feature__name">
				Рекламодатели
			</div>
			<div class="feature__text">
				Рекламодатели
				сотрудничают с нами на постоянной основе
			</div>
		</div>
		<div class="feature">
			<div class="feature__img-cont">
				<img src="./img/icon-5.png" alt="icon">
			</div>	
			<div class="feature__name">
				5 лет на рынке
			</div>
			<div class="feature__text">
				Мы понимаем, что нужно
				рекламодателю и клиенту
			</div>
		</div>
	</div>
</div>