<section class="section-places">
	<div class="container">
		<h2 class="h2">Список площадок</h2>
	</div>
	<div class="container places">
		<div class="place">
			<img src="./img/comp-1.png" alt="icon">
		</div>
		<div class="place">
			<img src="./img/comp-2.png" alt="icon">
		</div>
		<div class="place">
			<img src="./img/comp-3.png" alt="icon">
		</div>
	</div>
</section>