
{{> parts/head}}

<body>

	{{> parts/header-2}}
	{{> parts/mob-menu}}

	<div class="bread">
		<div class="container">
			<a href="#">Главная</a>
			<span class="divider">/</span>
			<a href="#">Подать объявление</a>
			<span class="divider">/</span>
			<span class="current">Выбор услуги</span>
		</div>
	</div>

	<div class="container">
		<div class="column-main">
			<h2 class="h2">Выбор услуг</h2>
			<div class="pay-services">
				<div class="pay-service active">
					<div class="pay-service__img">
						<img src="./img/rocket.png" alt="img">
					</div>
					<div class="pay-service__name">
						VIP Объявление
					</div>
					<div class="pay-service__select-cont">
						 <select>
						  <option value="var1">2 месяца 16000 руб.</option>
						  <option value="var2">2 месяца 18000 руб.</option>
						  <option value="var3">2 месяца 20000 руб.</option>
						</select> 
					</div>
					<div class="pay-service__select-cont">
						 <select>
						  <option value="var1">2 месяца 16000 руб.</option>
						  <option value="var2">2 месяца 18000 руб.</option>
						  <option value="var3">2 месяца 20000 руб.</option>
						</select>
						<div class="select-desc">Сейчас ваше место 5</div> 
					</div>
				</div>
				<div class="pay-service pin">
					<div class="pay-service__img">
						<img src="./img/pin.png" alt="img">
					</div>
					<div class="pay-service__name">
						Закрепить
					</div>
					<div class="pay-service__select-cont">
						 <select>
						  <option value="var0" selected disabled>Выберите место</option>
						  <option value="var1">2 месяца 16000 руб.</option>
						  <option value="var2">2 месяца 18000 руб.</option>
						  <option value="var3">2 месяца 20000 руб.</option>
						</select> 
					</div>
				</div>

			</div>
			<div class="gray-line"></div>
			<div class="results">
				ИТОГО: <span class="price">32 000 руб.</span>
			</div>
			<div class="btns-cont">
				<div class="btn btn-back"><i class="fa fa-long-arrow-left"></i> Назад</div>
				<div class="btn btn-big-pad">Оплатить</div>
			</div>
		</div>
	</div>


	{{> parts/footer}}

	{{!-- {{> small_parts/up_btn}} --}}
	{{!-- {{> small_parts/burger_with_anim}} --}}
	{{!-- {{> components/tabs tabsContent}} --}}
	{{!-- {{> components/popup}} --}}

	{{> parts/scripts}}

</body>
</html>
