
{{> parts/head}}

<body>

	{{> parts/header-2}}
	{{> parts/mob-menu}}

{{!-- 	<div class="bread">
		<div class="container">
			<a href="#">Главная</a>
			<span class="divider">/</span>
			<a href="#">Подать объявление</a>
			<span class="divider">/</span>
			<span class="current">Выбор услуги</span>
		</div>
	</div> --}}

	<div class="container">
		<div class="column-main column-main-middle">
			<h2 class="h2 first">Мои объявления</h2>
			
			<div class="my-ads">
				<div class="tabs-controls">
					<div class="tab active" data-tab="1">
						VIP Объявления
						<span class="count">9</span>
					</div>
					<div class="tab" data-tab="2">
						Закрепленые
						<span class="count">85</span>
					</div>
					<div class="tab hidden-xs" data-tab="3">
						Не опубликованные
						<span class="count">1</span>
					</div>
				</div>
				<div class="tabs-content active" data-tab="1">
					<div class="my_post">
						<div class="name">
							<div class="text">
								Помощь в получении кредита с любой к.и. От 300 000 до 5 000 000.
							</div>
						<div class="logo">
							<img src="./img/comp-1.png" alt="logo">
						</div>
						</div>
						<div class="btns">
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Продлить срок
								</a>
								<div class="btn-desc">
									Осталось 23 дня
								</div>
								<a href="#" class="nobtn">
									Редактировать
								</a>
							</div>
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Поднять позицию
								</a>
								<div class="btn-desc">
									Сейчас ваше место 5
								</div>
								<a href="#" class="nobtn">
									Снять с публикации
								</a>
							</div>
							<a href="#" class="nobtn">
								Редактировать
							</a>
							<a href="#" class="nobtn">
								Снять с публикации
							</a>
						</div>
					</div>
					<div class="my_post">
						<div class="name">
							<div class="text">
								Кредит через службу безопасности банка, рассматриваем любые ситуации, без предоплаты
							</div>
						<div class="logo">
							<img src="./img/comp-2.png" alt="logo">
						</div>
						</div>
						<div class="btns">
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Продлить срок
								</a>
								<div class="btn-desc">
									Осталось 23 дня
								</div>
								<a href="#" class="nobtn">
									Редактировать
								</a>
							</div>
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Поднять позицию
								</a>
								<div class="btn-desc">
									Сейчас ваше место 5
								</div>
								<a href="#" class="nobtn">
									Снять с публикации
								</a>
							</div>
							<a href="#" class="nobtn">
								Редактировать
							</a>
							<a href="#" class="nobtn">
								Снять с публикации
							</a>
						</div>
					</div>
					<div class="my_post">
						<div class="name">
							<div class="text">
								Кредитная помощь. Быстро, без предоплат
							</div>
							<div class="logo">
								<img src="./img/comp-3.png" alt="logo">
							</div>
						</div>
						<div class="btns">
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Продлить срок
								</a>
								<div class="btn-desc">
									Осталось 23 дня
								</div>
								<a href="#" class="nobtn">
									Редактировать
								</a>
							</div>
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Поднять позицию
								</a>
								<div class="btn-desc">
									Сейчас ваше место 5
								</div>
								<a href="#" class="nobtn">
									Снять с публикации
								</a>
							</div>
							<a href="#" class="nobtn">
								Редактировать
							</a>
							<a href="#" class="nobtn">
								Снять с публикации
							</a>
						</div>
					</div>
					<div class="my_post">
						<div class="name">
							<div class="text">
								Помощь в получении кредита с любой к.и. От 300 000 до 5 000 000.
							</div>
						<div class="logo">
							<img src="./img/comp-1.png" alt="logo">
						</div>
						</div>
						<div class="btns">
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Продлить срок
								</a>
								<div class="btn-desc">
									Осталось 23 дня
								</div>
								<a href="#" class="nobtn">
									Редактировать
								</a>
							</div>
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Поднять позицию
								</a>
								<div class="btn-desc">
									Сейчас ваше место 5
								</div>
								<a href="#" class="nobtn">
									Снять с публикации
								</a>
							</div>
							<a href="#" class="nobtn">
								Редактировать
							</a>
							<a href="#" class="nobtn">
								Снять с публикации
							</a>
						</div>
					</div>
					<div class="my_post">
						<div class="name">
							<div class="text">
								Кредит через службу безопасности банка, рассматриваем любые ситуации, без предоплаты
							</div>
						<div class="logo">
							<img src="./img/comp-2.png" alt="logo">
						</div>
						</div>
						<div class="btns">
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Продлить срок
								</a>
								<div class="btn-desc">
									Осталось 23 дня
								</div>
								<a href="#" class="nobtn">
									Редактировать
								</a>
							</div>
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Поднять позицию
								</a>
								<div class="btn-desc">
									Сейчас ваше место 5
								</div>
								<a href="#" class="nobtn">
									Снять с публикации
								</a>
							</div>
							<a href="#" class="nobtn">
								Редактировать
							</a>
							<a href="#" class="nobtn">
								Снять с публикации
							</a>
						</div>
					</div>
					<div class="my_post">
						<div class="name">
							<div class="text">
								Кредитная помощь. Быстро, без предоплат
							</div>
							<div class="logo">
								<img src="./img/comp-3.png" alt="logo">
							</div>
						</div>
						<div class="btns">
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Продлить срок
								</a>
								<div class="btn-desc">
									Осталось 23 дня
								</div>
								<a href="#" class="nobtn">
									Редактировать
								</a>
							</div>
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Поднять позицию
								</a>
								<div class="btn-desc">
									Сейчас ваше место 5
								</div>
								<a href="#" class="nobtn">
									Снять с публикации
								</a>
							</div>
							<a href="#" class="nobtn">
								Редактировать
							</a>
							<a href="#" class="nobtn">
								Снять с публикации
							</a>
						</div>
					</div>
				</div>
				<div class="tabs-content" data-tab="2">
					<div class="my_post">
						<div class="name">
							<div class="text">
								Закрепленные. От 300 000 до 5 000 000.
							</div>
						<div class="logo">
							<img src="./img/comp-1.png" alt="logo">
						</div>
						</div>
						<div class="btns">
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Продлить срок
								</a>
								<div class="btn-desc">
									Осталось 23 дня
								</div>
								<a href="#" class="nobtn">
									Редактировать
								</a>
							</div>
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Поднять позицию
								</a>
								<div class="btn-desc">
									Сейчас ваше место 5
								</div>
								<a href="#" class="nobtn">
									Снять с публикации
								</a>
							</div>
							<a href="#" class="nobtn">
								Редактировать
							</a>
							<a href="#" class="nobtn">
								Снять с публикации
							</a>
						</div>
					</div>
					<div class="my_post">
						<div class="name">
							<div class="text">
								Кредит через службу безопасности банка, рассматриваем любые ситуации, без предоплаты
							</div>
						<div class="logo">
							<img src="./img/comp-2.png" alt="logo">
						</div>
						</div>
						<div class="btns">
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Продлить срок
								</a>
								<div class="btn-desc">
									Осталось 23 дня
								</div>
								<a href="#" class="nobtn">
									Редактировать
								</a>
							</div>
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Поднять позицию
								</a>
								<div class="btn-desc">
									Сейчас ваше место 5
								</div>
								<a href="#" class="nobtn">
									Снять с публикации
								</a>
							</div>
							<a href="#" class="nobtn">
								Редактировать
							</a>
							<a href="#" class="nobtn">
								Снять с публикации
							</a>
						</div>
					</div>
					<div class="my_post">
						<div class="name">
							<div class="text">
								Кредитная помощь. Быстро, без предоплат
							</div>
							<div class="logo">
								<img src="./img/comp-3.png" alt="logo">
							</div>
						</div>
						<div class="btns">
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Продлить срок
								</a>
								<div class="btn-desc">
									Осталось 23 дня
								</div>
							</div>
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Поднять позицию
								</a>
								<div class="btn-desc">
									Сейчас ваше место 5
								</div>
							</div>
							<a href="#" class="nobtn">
								Редактировать
							</a>
							<a href="#" class="nobtn">
								Снять с публикации
							</a>
						</div>
					</div>
				</div>
				<div class="tabs-content" data-tab="3">
					<div class="my_post">
						<div class="name">
							<div class="text">
								Кредитная помощь. От 300 000 до 5 000 000.
							</div>
						<div class="logo">
							<img src="./img/comp-1.png" alt="logo">
						</div>
						</div>
						<div class="btns">
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Сделать VIP
								</a>
							</div>
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Закрепить
								</a>
							</div>
							<a href="#" class="nobtn">
								Редактировать
							</a>
						</div>
					</div>
					<div class="my_post">
						<div class="name">
							<div class="text">
								Кредитная помощь. От 300 000 до 5 000 000.
							</div>
						<div class="logo">
							<img src="./img/comp-2.png" alt="logo">
						</div>
						</div>
						<div class="btns">
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Сделать VIP
								</a>
							</div>
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Закрепить
								</a>
							</div>
							<a href="#" class="nobtn">
								Редактировать
							</a>
						</div>
					</div>
					<div class="my_post">
						<div class="name">
							<div class="text">
								Кредитная помощь. От 300 000 до 5 000 000.
							</div>
						<div class="logo">
							<img src="./img/comp-3.png" alt="logo">
						</div>
						</div>
						<div class="btns">
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Сделать VIP
								</a>
							</div>
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Закрепить
								</a>
							</div>
							<a href="#" class="nobtn">
								Редактировать
							</a>
						</div>
					</div>
					<div class="my_post">
						<div class="name">
							<div class="text">
								Кредитная помощь. От 300 000 до 5 000 000.
							</div>
						<div class="logo">
							<img src="./img/comp-2.png" alt="logo">
						</div>
						</div>
						<div class="btns">
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Сделать VIP
								</a>
							</div>
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Закрепить
								</a>
							</div>
							<a href="#" class="nobtn">
								Редактировать
							</a>
						</div>
					</div>
					<div class="my_post">
						<div class="name">
							<div class="text">
								Кредитная помощь. От 300 000 до 5 000 000.
							</div>
						<div class="logo">
							<img src="./img/comp-3.png" alt="logo">
						</div>
						</div>
						<div class="btns">
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Сделать VIP
								</a>
							</div>
							<div class="btn-cont">
								<a href="#" class="btn btn-outline">
									Закрепить
								</a>
							</div>
							<a href="#" class="nobtn">
								Редактировать
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>


	{{> parts/footer}}

	{{!-- {{> small_parts/up_btn}} --}}
	{{!-- {{> small_parts/burger_with_anim}} --}}
	{{!-- {{> components/tabs tabsContent}} --}}
	{{!-- {{> components/popup}} --}}

	{{> parts/scripts}}

</body>
</html>
