
{{> parts/head}}

<body>

	{{> parts/header-2}}
	{{> parts/mob-menu}}

	<div class="bread">
		<div class="container">
			<a href="#">Главная</a>
			<span class="divider">/</span>
			<span class="current">Площадки</span>
		</div>
	</div>

	<div class="container container-table">
		<div class="column-main column-main-smaller">
			<h2 class="h2">Площадки</h2>
			<div class="platforms">
				<table>
					<tr>
						<th>Площадки/Услуги</th>
						<th>
							<div class="icon-cont">
								<img src="./img/rocket.png" alt="img">
							</div>
							<div class="text">
								VIP Объявление<br>
								на месяц
							</div>
						</th>
						<th>
							<div class="icon-cont">
								<img src="./img/pin.png" alt="img">
							</div>
							<div class="text">
								Закрепить<br>
								на сутки
							</div>
						</th>
						<th>
							<div class="icon-cont">
								<img src="./img/up.png" alt="img">
							</div>
							<div class="text">
								Поднять<br>
								на 1 позицию
							</div>
						</th>
					</tr>
					<tr>
						<td>
							<div class="img-cont">
								<img src="./img/comp-4.png" alt="img">
							</div>
							<a href="#" class="url">www.credity5.ru</a>
						</td>
						<td>10 000 руб.</td>
						<td>12 000 руб.</td>
						<td>8 000 руб.</td>
					</tr>
					<tr>
						<td>
							<div class="img-cont">
								<img src="./img/comp-5.png" alt="img">
							</div>
							<a href="#" class="url">www.mrcredits.ru</a>
						</td>
						<td>200 руб.</td>
						<td>150 руб.</td>
						<td>100 руб.</td>
					</tr>
					<tr>
						<td>
							<div class="img-cont">
								<img src="./img/comp-6.png" alt="img">
							</div>
							<a href="#" class="url">www.mrzaim.ru</a>
							
						</td>
						<td>500 руб.</td>
						<td>500 руб.</td>
						<td>500 руб.</td>
					</tr>
				</table>
			</div>
		</div>
	</div>


	{{> parts/footer}}

	{{!-- {{> small_parts/up_btn}} --}}
	{{!-- {{> small_parts/burger_with_anim}} --}}
	{{!-- {{> components/tabs tabsContent}} --}}
	{{!-- {{> components/popup}} --}}

	{{> parts/scripts}}

</body>
</html>
